services:
  postgres:
    container_name: db
    image: postgres:14
    restart: unless-stopped
    expose:
      - 5433
    ports:
      - 5433:5433
    volumes:
      - ./data:/var/lib/postgresql/data

volumes:
  postgres_data: